bash_scripts
checkpoints
CoTPC-main/data/
CoTPC-main/scripts/cat_eval.sh
CoTPC-main/scripts/eval_cat.sh
CoTPC-main/scripts/eval_pc.sh
CoTPC-main/scripts/eval_sc2.sh
CoTPC-main/scripts/eval_sc3.sh
CoTPC-main/scripts/eval_single.sh
CoTPC-main/scripts/eval_tf.sh
CoTPC-main/scripts/replay_policy.sh
CoTPC-main/scripts/replay_turn_faucet_trajectories.sh
CoTPC-main/scripts/rgbd.sh
CoTPC-main/scripts/save_vision.sh
CoTPC-main/scripts/test_file_change.sh
CoTPC-main/scripts/train_cat.sh
CoTPC-main/src/vis_key_states
CoTPC-main/src/TurnFaucet-v0_eval
CoTPC-main/src/PegInsertionSide-v0_eval
CoTPC-main/src/PickCube-v0_eval
CoTPC-main/src/StackCube-v0_eval
CoTPC-main/src/data_autocot_cat.py
CoTPC-main/src/eval_cat.py
CoTPC-main/src/key_statistics.py
CoTPC-main/src/model_cat.py
CoTPC-main/src/rgbd.py
CoTPC-main/src/save_vision.py
CoTPC-main/src/train_cat.py
CoTPC-main/src/video_scripts.py
CoTPC-main/save_model
CoTPC-main/replay_policy
src/module/GPT2.py
src/module/GPT3.py
src/module/ResNetFC.py
src/label_clip.py
src/label_waypoint.py
src/PegInsertionSide-v0_label_output.txt
src/PickCube-v0_label_output.txt
src/StackCube-v0_label_output.txt
src/TurnFaucet-v0_label_output.txt
!(src/model_checkpoints/*.pth)
Docs
maniskill2_test
mytemp
rebuttal_materials
code_understanding
thinking
label2.sh
label_clip.sh
label_single.sh
label_waypoint.sh
test1.sh
train2.sh
train_scripts.sh
val_label.sh
val_pc.sh
val_test.sh
.DS_Store
.idea

__pycache__
lightning_logs
log.txt
/src/model_checkpoints/PC_0905_0734k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/PC_0906_1003k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/PC_0909_0909_LONG_k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/PC_GPTHN_NN_EMA_DGOAL_GGOAL_RECS_ENCO+_INCNLL_2000k4-r4-f1-c10_KT0.1_EMA0.95_temb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec1.0/
/src/model_checkpoints/PIS_0901_0913_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.001/
/src/model_checkpoints/PIS_0901_0917_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.001/
/src/model_checkpoints/PIS_0901_0936_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/PIS_0901_0940_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/PIS_0901_1207_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/PIS_0901_1211_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/PIS_0901_1629_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/PIS_0901_1721_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/PIS_0902_0924k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.01-rec0.1-finetune/
/src/model_checkpoints/PIS_0902_0956k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/PIS_0903_0927k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/PIS_0904_0708k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/PIS_0905_0734k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/PIS_0906_1003k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/PIS_0907_1003_WODGk4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/PIS_0908_0755k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/PIS_0909_0909_LONG_k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/SC_0901_0818_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec1.0/
/src/model_checkpoints/SC_0901_0820_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec1.0/
/src/model_checkpoints/SC_0901_0920_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.001/
/src/model_checkpoints/SC_0901_0923_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.001/
/src/model_checkpoints/SC_0901_0943_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/SC_0901_0945_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/SC_0901_1213_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/SC_0901_1219_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/SC_0901_1630_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/SC_0901_1722_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/SC_0902_0927k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.01-rec0.1-finetune/
/src/model_checkpoints/SC_0902_0957k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/SC_0903_0923k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/SC_0904_0708k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/SC_0905_0734k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/SC_0906_1003k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/SC_0907_1003_WODGk4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/SC_0908_0755k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/SC_0909_0909_LONG_k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/TF_0901_0923_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.001/
/src/model_checkpoints/TF_0901_0927_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.001/
/src/model_checkpoints/TF_0901_0947_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/TF_0901_0953_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/TF_0901_1219_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/TF_0901_1223_no-rec-temb_GPTHN_NN_EMA_DGOAL_GGOAL_RECSHARD_ENCO+_INCNLLk4-r4-f2-c10_KT0.1_EMA0.99_ema_ave_st-emb1.2-r_l10.0-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1/
/src/model_checkpoints/TF_0902_1002k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/TF_0903_0928k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/TF_0904_0708k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/TF_0905_0734k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/TF_0906_1003k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/TF_0907_1003_WODGk4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/TF_0908_0755_LONG_k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/TF_0912_LONG_k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
/src/model_checkpoints/TF_0914_LONG_k4-r4-f2-c10_KT0.1_EMA0.9_ema_ave_st-emb1.2-r_l10.0-use_r-egpthn_s2_a1-emb128-key128-e128-cluster0.001-rec0.1-finetune/
