bash_scripts
checkpoints
CoTPC-main/data
CoTPC-main/src/vis_key_states
CoTPC-main/src/TurnFaucet-v0_eval
CoTPC-main/src/PegInsertionSide-v0_eval
CoTPC-main/src/PickCube-v0_eval
CoTPC-main/src/StackCube-v0_eval
CoTPC-main/src/data_autocot_cat.py
CoTPC-main/src/eval_cat.py
CoTPC-main/src/key_statistics.py
CoTPC-main/src/model_cat.py
CoTPC-main/src/rgbd.py
CoTPC-main/src/save_vision.py
CoTPC-main/src/train_cat.py
CoTPC-main/src/video_scripts.py
CoTPC-main/save_model
CoTPC-main/replay_policy
Docs
maniskill2_test
mytemp
rebuttal_materials
code_understanding
thinking
label2.sh
label_clip.sh
label_single.sh
label_waypoint.sh
test1.sh
train2.sh
train_scripts.sh
val_label.sh
val_pc.sh
val_test.sh
.DS_Store

__pycache__
lightning_logs
log.txt
